################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/examples/AVR_01_DeviceInfo/.vs
/examples/AVR_01_DeviceInfo/AVR_01_DeviceInfo/Debug
